@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    overflow-x: hidden;
}
:root{
    --main-color: #fd4646;
    --text-color: #171327;
    --bg-color: #fff;
    --star-color: #d4d4d4;
    --yellow: #ffeb3b;
    --blue: #0b75cb;
    --green: #449a47;
}   

img{
    width: 100%;
}

header{
    position: relative !important;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--bg-color);
    box-shadow: 0 1px 4px hsl(0 4% 15% / 10);
    z-index: 100;
}

body{
    color: var(--text-color);
}

.container{
    max-width: 1500px;
    width: 100%;
}

section{
    padding: 9rem 0 5rem;
}

.container{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.row{
    display: flex;
    gap: 150px;
}

.col-6{
    width: 50%;
}

.single-product{
    width: 1080px;
    position: relative;
   
}

.single-product .product-image{
    width: 100%;
}

.product-image .product-image-main{
    position: relative;
    display: block;
    height: 700px;
    background: var(--bg-grey);
    padding: 10px;
}

.product-image-main img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product-title{
    margin-top: 20px;

}
.product-title h2{
    font-size: 32px;
    line-height: 2.4rem;
    font-weight: 700;
    letter-spacing: -0.02rem;
}
.rating-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rating-label {
    margin-right: 2rem;
}

.rating-star {
    position: relative;
    display: flex;
    margin: 10px 0;
    flex-direction: row-reverse;
}

.rating-star input {
    position: relative;
    width: 20px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    appearance: none;
    overflow: hidden;
    cursor: pointer;
}

.rating-star input::before {
    content: '\eeb8';
    position: absolute;
    font-family: boxicons;
    font-size: 34px;
    position: absolute;
    left: 4px;
    color: var(--star-color);
    transition: all .3s;
}

.rating-star input:nth-child(2n + 1)::before {
    right: 4px;
    left: initial;
}

.rating-star input:hover ~ input::before,
.rating-star input:hover::before,
.rating-star input:checked ~ input::before,
.rating-star input:checked::before {
    color: var(--yellow);
}

.product-rating{
    display: flex;
    margin-top: 4px;
    margin-bottom: 10px;
    align-items: center;
}

.product-rating span:not(:last-child){
    color: #ffc600;
}
.product-rating .review{
    color: var(--grey);
    font-size: 12px;
    font-weight: 500;
}


.product-price{
    display: flex;
    position: relative;
    margin: 10px 0;
    align-items: center;
}

.product-price .offer-price{
    font-size: 48px;
    font-weight: 700;
}
.product-price .sale-price{
    font-size: 48px;
    font-weight: 700;
    color: var(--grey);
    margin-left: 0px;
}

.sale-price.active{
    text-decoration: line-through;
    font-size: 22px;
    font-weight: 500;
    margin-left: 12px;
}


.product-details{
    margin: 10px 0;
}
.product-details h3{
    font-size: 18px;
    font-weight: 500;
}
.product-details p{
    margin: 5px 0;
    font-size: 14px;
    line-height: 1.2rem;
}


.divider{
    display: block;
    height: 1px;
    width: 100%;
    background: #48484830;
    margin: 20px 0;
}



.product-btn-group{
    display: flex;
    gap: 260px;
}
.product-btn-group .button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 10px 24px;
    font-size: 16px;
    font-weight: 500;
}

.product-btn-group .add-cart{
    
    background-color: pink;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
.product-btn-group .add-cart i{
    font-size: 20px;
}
.product-btn-group .add-cart:hover{
    box-shadow: 0 3px 6px var(--shadow);
    background: violet;
    color: #fff;
}
.product-btn-group .heart{
    color: var(--grey);
    cursor: pointer;
}
.product-btn-group .heart i{
    font-size: 20px;
}
.product-btn-group .heart:hover{
    color: var(--accent-color);
}
.logo {
    margin-right: 10px;
    width: 180px;
    height: 140px;
  }


@media screen and (max-width:520px) {
    .container{
        padding: 20px;
        height: auto;
    }
    .row{
        display: block;
    }

    .col-6{
        width: 100%;
        display: block;
    }
    .single-product{
        width: 100%;
        position: relative;
    }

    .product-image .product-image-main{
        width: 100%;
        height: 400px;
    }
    .product-image-slider{
        gap: 5px;
    }

    .breadcrumb{
        display: none;
    }

    .product-title h2{
        font-size: 24px;
        line-height: 1.6rem;
    }
    .product-size{
        display: block;
    }
    .product-size .size-layout{
        display: block;
        margin: 10px 0;

    }
    .product-size .size-layout .size{
        padding: 6px 10px;
    }
    .product-btn-group{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}


@media  (min-width: 520px ) and (max-width: 1080px) {
   .container{
    display: block;
    height: auto;
    padding: 20px;
   }
    
}

nav {
    background-color: #111;
    color: white;
    padding: 20px 50px;
}
  
.navTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.search {
    display: flex;
    align-items: center;
    background-color: gray;
    padding: 10px 20px;
    border-radius: 10px;
}
  
.searchInput {
    border: none;
    background-color: transparent;
}
  
.searchInput::placeholder {
    color: lightgray;
}
  
.navBottom {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 210px;
}
  
.menuItem {
    margin-top: 10px;
    margin-right: 50px;
    cursor: pointer;
    color: lightgray;
    font-weight: 400;
    font-size: 30px;
}



#cart-icon{
    font-size: 2rem;
    cursor: pointer;
}

.icons{
    display: flex;
    gap: 1.3vw;
}

.payment {
    width: 500px;
    height: 600px;
    background-color: white;
    position: absolute;
    right: -100%;
    padding: 10px 50px;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    overflow-y: scroll;
  }
  
  .payment.active{
    top: 70%;
    left: 35%;
    right: 0%;
  }

  .payTitle {
    font-size: 20px;
    color: lightgray;
    margin-bottom: 20px;
  }
  
  label {
    font-size: 14px;
    font-weight: 300;
  }
  
  .payInput {
    padding: 10px;
    margin: 10px 0px;
    border: none;
    border-bottom: 1px solid gray;
    width: 80%;
    margin-bottom: 10px;
  }
  
  .payInput-sm {
    padding: 10px;
    margin: 10px 0px;
    border: none;
    border-bottom: 1px solid gray;
    width: 30%;
    margin-bottom: 10px;
  }

  .payInput::placeholder {
    color: rgb(163, 163, 163);
  }
  
  .cardIcons {
    display: flex;
  }
  
  .cardIcon {
    margin-right: 10px;
    width: 60px;
  }
  
  .cardInfo {
    display: flex;
    justify-content: space-between;
  }
   
  .payButton {
    position: absolute;
    height: 40px;
    bottom: -40;
    width: 100%;
    left: 0;
    -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    background-color: #b642ba;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .close {
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: gray;
    color: white;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 2px;
  }

.cart{
    position: fixed;
    top: 0;
    right: -100%;
    width: 480px;
    height: 100vh;
    min-height: 100vh;
    padding: 20px;
    background: var(--bg-color);
    box-shadow: -2px 0 4px hsl(0 4% 15% / 10);
    transition: 0.3s;
    overflow-y: scroll;
}

.cart.active{
    right: 0;
}

.cart-title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
}

.cart-box{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;

}

.cart-img{
    width: 150px;
    height: 150px;
    object-fit: contain;
    padding: 10px;

}

.detail-box{
    display: grid;
    row-gap: 0.5rem;
}

.cart-product-title{
    font-size: 1.5rem;
    text-transform: uppercase;
}

.cart-price{
    font-weight: 500;
}

.cart-quantity{
    border: 1px solid var(--text-color);
    outline-color: var(--main-color);
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
}

.cart-remove{
    font-size: 24px;
    color: var(--main-color);
    cursor: pointer;
}

.total{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid var(--text-color);
}

.total-title{
    font-size: 1rem;
    font-weight: 600;
}

.total-price{
    margin-left: 0.5rem;
}

.btn-buy{
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    background: var(--main-color);
    color: var(--bg-color);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}
a:visited{
    color:white;
}
.btn-buy:hover{
    background: var(--text-color);
}

#close-cart{
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    font-size: 2rem;
    color: var(--text-color);
    cursor: pointer;
}

footer {
    display: flex;
  }
  
  .footerLeft {
    flex: 2;
    display: flex;
    justify-content: space-between;
    padding: 50px;
  }
  
  .fMenuTitle {
    font-size: 16px;
  }
  
  .fList {
    margin-top: 10%;
    padding: 0;
    list-style: none;
  }
  
  .fListItem {
    margin-bottom: 10px;
    color: gray;
    cursor: pointer;
  }
  
  .footerRight {
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .fInput {
    padding: 5px;
  }
  
  .fButton {
    padding: 5px;
    background-color: black;
    color: white;
  }
  
  .fIcons{
    display: flex;
  }
  
  .fIcon{
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  
  .copyright{
    font-weight: 300;
    font-size: 14px;
  }